      <div class="card-deck">
        <%for x in 0...5 %>
        <div class="card">
          <img src='<%=@programs[x].image%>' class="card-img-top" alt="No Content" id='program<%=x+1%>-img'>
          <div class="card-body">
            <h5 id='program<%=x+1%>-title' class="card-title"><%=@programs[x].title%></h5>
          </div>
        </div>
        <%end%>
      </div>