
    <section class="sky-placeholder">
      <form id='mood-form' >
        <div>
          <label for="program1">Happy</label>
          <label for="program1" class="sky-right-label">Sad</label>
          <input type="range" name='mood1' class="custom-range mood" min="1" max="3" id="mood1"> 
        </div>
        <div class="sky-slide-colour">
          <label for="program2">Agitated</label>
          <label for="program2" class="sky-right-label">Calm</label>
          <input type="range" name='mood2' class="custom-range mood" min="1" max="3" id="mood2">
        </div>
        <div>
          <label for="program3">Awake</label>
          <label for="program3" class="sky-right-label">Tired</label>
          <input type="range" name='mood3' class="custom-range mood" min="1" max="3" id="mood3">
        </div>
        <div class="sky-slide-colour">
          <label for="program4">Fearless</label>
          <label for="program4" class="sky-right-label">Scared</label>
          <input type="range" name='mood4' class="custom-range mood" min="1" max="3" id="mood4">
        </div>
        <button id ="refresh-mood" type="submit" class="btn btn-primary">
          <p>Refresh Programs</p>
        </button>
        <button id ="upload-sample" type="button" class="btn btn-primary">
          <p>Load a Sample</p>
        </button>
      </form>
    </section>
    <section class="sky-placeholder">
     <%= erb(:'partials/show', :layout => false)%> 
    </section>
