
    <section>
      <form id='form' method ='POST' action = '/' enctype='multipart/form-data'>
        <div class="custom-file">
          <input type="file" name='tfile'  id="upload">
          <input type="submit" value='Submit'>
        </div>
      </form>
    </section>
    <section>
      <p>Site will soon give users the ability to upload well formatted xml files. In the meantime feel free to upload the sample using the "Upload Sample" button on the home page for sample content. The sample content is visible in the 'Full List' tab</p>
    </section>

