
    <section>
      <form id='form' method ='POST' action = '/upload' enctype='multipart/form-data'>
        <div class="custom-file">
          <input type="file" name='tfile'  id="upload">
          <input type="submit" value='Submit'>
        </div>
      </form>
    </section>
    <section>
      <p>This gives users the ability to upload well formatted xml files. In the meantime feel free to upload the sample using the "Upload Sample" button on the home page for sample content. 'Full List' tab</p>
    </section>

